body {
  background-color: rgb(255, 255, 255);
  min-width: 35em;
  max-width: 720px;
  font-family: "PT Serif", serif;
  font-size: 16px;
  margin: 0 auto;
}

.searchbar {
  background-color: rgba(8, 8, 8, 0.8);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 15px;
}
.citysearch {
  background-color: rgba(255, 255, 255, 0.25);
  color: rgb(198, 198, 198);
  font-weight: bold;
  margin-top: 10px;
  margin-left: 5px;
}
.bi-search {
  color: rgb(198, 198, 198);
  font-size: large;
}
.here {
  width: 37px;
  height: 37px;
  background-image: url("location.png");
  background-size: cover;
  background-color: transparent;
  border: none;
}

.mainApp {
  color: white;
  margin-top: 25px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  padding-top: 0px;
  padding-bottom: 10px;
  border-color: #212529;
  background-size: cover;
}

.todaysInfo {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  width: 94%;
  height: 90%;
  box-shadow: 1px 1px 10px #212529;
  transform: translate(20px, 0px);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}
.todaysInfo .midInfo {
  margin-top: 30px;
}
.next-days {
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 1px 0.5px 6px rgb(27, 27, 27);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  backdrop-filter: blur(2px);
}
.next-days:hover {
  backdrop-filter: blur(5px);
}
.ex1 {
  text-align: center;
  font-weight: lighter;
  filter: drop-shadow(0 0 25px rgb(0, 50, 50));
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 6px;
}

.todaysInfo .metrics {
  color: white;
  text-decoration: none;
}

.todaysInfo .tempNumber {
  font-size: 64px;
  padding-left: 4px;
}

.todaysInfo .todaysIcon {
  position: relative;
  left: 10px;
  top: -22px;
}
